<div class="dr-form" style="width: 898px" ng-init="init()">
    <div class="modal-body modal-box">
        <form name="application" novalidate="novalidate" ng-submit="save()" class="form-horizontal">
            <div class="modal-header">
                <h4 class="modal-title">{{model.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="row dashboard-header">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">广告名称</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="model.NAME" required placeholder="广告名称"/>
                        </div>
                        <label class="col-sm-1 control-label">类型</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="model.AD_TYPE" required
                                   placeholder="广告类型"/>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">广告图片</label>
                        <div class="col-sm-9">
                            <div class="col-sm-5"  style="padding-left: 1px !important;">
                                <div class="form-group m-0 dr-date-group" style="padding-left: 1px !important;">
                                    <input class="form-control"
                                           ng-model="model.SELECTFILENAME"
                                           type="text"
                                           placeholder="请上传banner图片"
                                           maxlength="50"
                                           required="">
                                </div>
                            </div>
                            <label class="col-sm-3" style="margin-left:34px;text-align:left;padding-left: 21px;" >
                                <div class="dr_upload" style="height:28px; width: 50px; margin-top:1px;color:#1ab394;background-color:#1ab394;">
                                    <!--<div class="upload-new">上传</div>-->
                                    <div class="upload-new" ngf-select="uploadFiles(file)" style="padding-top:4px;" ng-model="file" name="file" ngf-pattern="'image/*'"
                                         ngf-accept="'image/*'" >上传</div>
                                </div>
                               <!-- <a class="btn-upload btn-uploading a" style="font-size:14px;"  href="{{viewModel.selectFile}}" target="_blank">预览</a>-->
                            </label>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">广告状态</label>
                        <div class="col-sm-4">
                            <label class="control-label">
                                <input type="radio" name="default_type" ng-model="model.DEFAULT_STATE" ng-checked="true"
                                       input-radio value="1"> 默认　
                            </label>
                            <label class="control-label">
                                <input type="radio" name="default_type" ng-model="model.DEFAULT_STATE" input-radio
                                       value="2"> 非默认
                            </label>
                        </div>
                        <label class="col-sm-1 control-label">链接</label>
                        <div class="col-sm-4">
                            <label class="control-label">
                                <input type="radio" name="link_type" ng-model="model.LINK_TYPE" ng-checked="true"
                                       input-radio value="1"> HTML　
                            </label>
                            <label class="control-label">
                                <input type="radio" name="link_type" ng-model="model.LINK_TYPE" input-radio value="2">
                                浮层
                            </label>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">链接地址</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="model.LINK_URL" required
                                   placeholder="链接地址"/>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">启用/禁用</label>
                        <div class="col-sm-9">
                            <input ng-model="model.IS_ACTIVED"   ng-checked="model.IS_ACTIVED"
                                   ng-change="model.IS_ACTIVED" type="checkbox">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">说明</label>
                        <div class="col-sm-9">
                            <textarea rows="5" class="form-control" ng-model="model.DESCRIPTION"
                                      placeholder="说明"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default">保存应用信息</button>

                <button type="button" class="btn btn-default" ng-click="cancel()">关闭</button>
            </div>
        </form>
    </div>
</div>