<div class="modal-content">
    <form name="application" novalidate="novalidate"   class="form-horizontal ng-pristine ng-valid">
        <div class="modal-header">
            <h4 class="modal-title ng-binding">认证记录</h4>
        </div>
        <div class="modal-body">
            <div class="row ng-hide" ng-show="Certifies.length == 0" style="text-align:center;padding:100px;">
                暂无认证信息
            </div>
            <div class="clients-list" ng-show="Certifies.length != 0">
                <ul class="nav nav-tabs">
                    <li class="{{$index?'':'active'}}" ng-repeat="data in Certifies">
                        <a data-toggle="tab" href="#tab-{{$index}}" ng-click="getTabState($index)" aria-expanded="true" class="ng-binding">
                            {{data.name}} </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <!-- ngRepeat: c in model.crediteds   -->
                    <div  id="#tab-{{$index}}" class="{{Model.Tab==$index?'tab-pane active':'tab-pane'}}" ng-repeat="da in Certifies"
                          style="height:auto !important;">
                        <div style="padding:50px 26px;">
                            <div class="ng-scope" ng-repeat="certify in da.certifies">

                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label class="control-label">
                                            <b class="ng-binding">{{certify.preAppCode}}</b></label>
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label ng-binding" ng-if="certify.certifyType!='HouseFund'&& certify.certifyAccount!=null">{{certify.certifyAccount|hideData}} </label>
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label green">{{certify.certifyStatus|CertifyMap}}</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label ng-binding"> </label>
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label ng-binding">{{certify.createdTime}}</label>
                                    </div>

                                </div>
                                <div class="hr-line-dashed" id="line"></div>
                            </div><!-- end ngRepeat: certify in c.Certifies -->
                        </div>
                    </div><!-- end ngRepeat: c in model.crediteds -->


                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">关闭</button>
        </div>
    </form>
</div>