<div class="row white-bg dashboard-header" ng-view="datatables" style="background-color: white">
    <div>
        <h3 class="div-title">系统配置</h3>
    </div>
    <div class="div-buttons">
        <form role="form" class="form-inline ng-pristine ng-valid">
            <div class="form-group">
                <label class="sr-only">搜索</label>
                <input type="text" ng-model="domain.DISPLAY_NAME" placeholder="请输入名称" class="form-control ms-width-150">
            </div>
            <div class="form-group">
                <button class="btn btn-info" ng-click="query()">查 询 </button>
                <button class="btn btn-default" ng-click="reset()">重 置 </button>
                <button class="btn btn-default" ng-click="addOrUpdate('update')">修 改 </button>
                <button class="btn btn-warning" ng-click="clearAllCache()">清除全部缓存 </button>
                <button class="btn btn-success" ng-click="upload()">上传应用程序包</button>
            </div>
            <div class="dr-tb-container" style="margin-left: 0px;">
                <div>
                    <table class="table text-muted table-bordered table-striped">
                        <thead>
                        <tr>
                            <th><span class='datatables-check-all'>全选</span></th>
                            <th tb-sort="">显示名称</th>
                            <th >名称</th>
                            <th>值</th>
                            <th>说明</th>
                        </tr>
                        </thead>
                        <tbody>
                         <tr>
                            <td colspan="5">应用程序</td>
                         </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5" class="text-center text-bg">
                                <div class="text-right" page-control record="Model.userInfoList" evname="dr.userPagination"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </form>
    </div>

</div>



