<div class="list-group dr-form ng-scope">

    <h3 class="list-group-item-heading box-shadowbottom">
        系统配置
    </h3>

    <div class="list-group-item single-channel-quary">
        <div class="form-inline">

            <div class="form-group">
                <input type="text" class="form-control " style="width: 200px"
                       placeholder="请输入名称" ng-model="Model.name">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" ng-click="query()">查 询 </button>
                <button class="btn btn-default" ng-click="reset()">重 置 </button>
                <button class="btn btn-default" ng-click="addOrUpdate('update')">修 改 </button>
                <button class="btn btn-warning" ng-click="clearAllCache()">清除全部缓存 </button>
                <button class="btn btn-success" ng-click="upload()">上传应用程序包</button>
            </div>

        </div>
    </div>

    <div class="list-group-item single-channel-body">
        <div class="dr-tb-container">
            <table model="setTableOptions" id="globalsetting" angular-table     class="table table-hover "></table>
        </div>
    </div>
    <!-- 模态框（Modal） -->
</div>