<div class="list-group dr-form ng-scope" ng-init="initPage()">

    <h3 class="list-group-item-heading box-shadowbottom">
        用户管理
    </h3>

    <div class="list-group-item single-channel-quary">
        <div class="form-inline">

            <div class="form-group">
                <label class="sr-only">真实姓名</label>
                <input type="text" ng-model="domain.NAME" placeholder="真实姓名" class="form-control ms-width-150">
            </div>
            <div class="form-group">
                <label class="sr-only">手机号码</label>
                <input type="text" ng-model="domain.TELPHONE" placeholder="手机号码" class="form-control ms-width-150">
            </div>
            <div class="form-group">
                <select  ng-model="domain.DepartmentId"  class="form-control page-select"  style="width: 200px;">
                    <option value="">请选择部门</option>
                    <option ng-repeat="item in model.departments"
                            value="{{item.departmentCode}}">{{item.departmentName}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control page-select"
                        ng-model="domain.UserCompanyId" style="width: 200px">
                    <option value="">请选择申请城市</option>
                    <option ng-repeat="item in model.citylist" value="{{item.cityName}}">
                        {{item.cityName}}
                    </option>
                </select>
            </div>
            <div class="form-group" style="margin-top: 15px;">
                <button class="btn btn-primary" ng-click="query()">查 询 </button>
                <button class="btn btn-default" ng-click="reset()">重 置 </button>
                <button class="btn btn-default" ng-click="modify()">修 改 </button>
                <button class="btn btn-default" ng-click="active()">启用/禁用 </button>
                <button class="btn btn-danger" ng-click="remove()" >删 除 </button>
                <button class="btn btn-warning" ng-click="closePermission()">关闭离职用户权限</button>
                <button class="btn btn-warning" ng-click="clearBinding()">清空绑定</button>
            </div>
           <!-- <div class="form-group float-lg-right mt-15">
                <a href="javascript:void(0);" class="more_filter_arrow" ng-click="more()">+更多筛选条件</a>
            </div>-->
        </div>
    <!--    <div class="form-inline ">
            <div class="line" ng-show="viewModel.show">
                <div class="form-group">
                    <select  ng-model="domain.DepartmentId"  class="form-control page-select"  style="width: 200px;">
                        <option value="">请选择部门</option>
                        <option ng-repeat="item in model.departments"
                                value="{{item.departmentCode}}">{{item.departmentName}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control page-select"
                            ng-model="domain.UserCompanyId" style="width: 200px">
                        <option value="">请选择申请城市</option>
                        <option ng-repeat="item in model.citylist" value="{{item.cityName}}">
                            {{item.cityName}}
                        </option>
                    </select>
                </div>
            </div>
        </div>-->
    </div>

    <div class="list-group-item single-channel-body">
        <div class="dr-tb-container   ">
            <table model="setTableOptions" id="ngAdverts" angular-table class="table table-hover ">

            </table>
        </div>
    </div>

</div>

























