<!--新建Banner类型-->
    <div class="dr-form ng-scope">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
            <h4 class="modal-title" id="myModalLabel">新增Banner类型</h4>
        </div>
        <div class="modal-body modal-box">
            <form class="form-horizontal" novalidate="novalidate" ng-submit="onSubmit()" role="form">
                <div class="panel panel-link">
                    <div class="panel-body dr_baseInfo">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span style="color:red">*</span>发布渠道：</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-options="channel.name for channel in channels" ng-model="vm.model.channel" required="">
                                    <option value="" selected="selected">--请选择--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span style="color:red">*</span>banner编码：</label>
                            <div class="col-sm-8">
                                <input class="form-control"
                                       type="text" placeholder="该输入banner编码" ng-model="vm.model.bannerCode" maxlength="50" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span style="color:red">*</span>banner类型code：</label>
                            <div class="col-sm-8">
                                <input class="form-control"
                                       type="text" placeholder="该输入banner类型code" ng-model="vm.model.bannerTypeCode" maxlength="50" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span style="color:red">*</span>banner类型名称：</label>
                            <div class="col-sm-8">
                                <input class="form-control"
                                       type="text" placeholder="该输入banner类型名称" ng-model="vm.model.bannerTypeName" maxlength="50" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span style="color:red">*</span>是否有效：</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-options="effective.name for effective in effectives" ng-model="vm.model.effective" required="">
                                    <option value="" selected="selected">--请选择--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <button class="btn btn-primary btn-plr-35" type="submit">保存</button>
                        <button class="btn btn-secondary btn-plr-35" type="button" ng-click="cancel()">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
