<div class="modal-content" style="width: 750px;">
    <form name="application" novalidate="novalidate" ng-submit="save()" class="form-horizontal ng-pristine ng-valid">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
            <h4 class="modal-title ng-binding">查看基本信息</h4>
        </div>
        <div class="modal-body">
            <div class="row dashboard-header">
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">申请城市</label>
                            <div class="col-sm-4">
                                <label class="control-label readonly">{{resultData.applyCityName}}</label>
                            </div>
                            <label class="col-sm-2 control-label">贷款用途</label>
                            <div class="col-sm-4">
                                <label class="control-label readonly">
                                    <!--{{resultData.loanPurpose!="LoanPurposeOther" ? (resultData.loanPurpose| LoanFilter):(resultData.loanPurposeExt) }}-->
                                    {{resultData.loanPurposeDisplay}}
                                </label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">婚姻状况</label>
                            <div class="col-sm-4">
                                <label class="control-label readonly ng-binding">{{resultData.marrageDisplay}}</label>
                            </div>
                            <label class="col-sm-2 control-label">教育程度</label>
                            <div class="col-sm-4">
                                <label class="control-label readonly ng-binding">{{resultData.educationDisplay}}</label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">销售编号</label>
                            <div class="col-sm-4">
                                <label class="control-label readonly ng-binding">{{resultData.salesNo}}</label>
                            </div>
                            <label class="col-sm-2 control-label">销售姓名</label>
                            <div class="col-sm-4">
                                <label class="control-label readonly ng-binding">{{resultData.salesName}}</label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">销售手机号</label>
                            <div class="col-sm-4">
                                <label class="control-label readonly ng-binding">{{resultData.salesMobile }}</label>
                            </div>
                            <label class="col-sm-2 control-label">居住城市</label>
                            <div class="col-sm-4">
                                <label class="control-label readonly ng-binding">{{resultData.residentCityName }}</label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">居住地地址</label>
                            <div class="col-sm-10">
                                <label class="control-label readonly ng-binding">
                                    {{resultData.residentProvinceName==resultData.residentCityName?"":resultData.residentProvinceName}}
                                    {{resultData.residentCityName}}
                                    {{resultData.residentAreaName}}
                                    {{resultData.residentAddress}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">关闭</button>
        </div>
    </form>
</div>