<ul class="pager" ng-if="record.pageTotal">
  <li ng-if="record.pageTotal !=1" ng-class="{true: 'disabled', false: ''}[pgs.currentPg==1]"><a href="#" ng-click="first($event)">首页</a></li>
  <li ng-if="record.pageTotal !=1" ng-class="{true: 'disabled', false: ''}[pgs.currentPg==1]"><a href="#" ng-click="prev($event)">上一页</a></li>
  <li ng-if="record.pageTotal !=1" ng-class="{true: 'disabled', false: ''}[pgs.currentPg==pgs.lastPg ||pgs.lastPg==0]"><a href="#" ng-click="next($event)">下一页</a></li>
  <li ng-if="record.pageTotal !=1" ng-class="{true: 'disabled', false: ''}[pgs.currentPg==pgs.lastPg ||pgs.lastPg==0]"><a href="#" ng-click="last($event)">末页</a></li>
  <li ng-if="record.pageTotal !=1">当前第{{pgs.currentPg}}页/共{{pgs.lastPg}}页，共{{pgs.totalRows}}条数据</li>
</ul>
<ul class="pager" ng-if="!record.pageTotal">
  <li class="page-none">没有数据</li>
</ul>