<div class="list-group dr-form" ng-init="initPage()">
    <!--<h3 class="list-group-item-heading box-shadowbottom">
       意见反馈
    </h3>
    <div class="list-group-item single-channel-quary">
       <div class="form-inline">
      <!--<div class="form-group">
              <input type="text" class="form-control" style="width:200px" placeholder="客户经理" ng-model="Model.name"/>
          </div>
          <div class="form-group">
             <select class="form-control page-select dropdown-size" ng-model="Model.city">
                   <option value="" selected="selected">请选择申请城市</option>
                   <option ng-repeat="item in Model.Cities" value="{{item.cityCode}}">
                         {{item.cityName}}
                   </option>
              </select>
          </div>
          <div class="form-group">
             <select class="form-control page-select dropdown-size" style="width:200px" ng-model="Model.department">
                <option value="" selected="selected">请选择部门</option>
                <option ng-repeat="item in Model.departmentes" value="{{item.departmentCode}}">
                      {{item.departmentName}}
                </option>
             </select>
          </div>
          <div class="form-group">
                <input type="text" class="form-control" style="width:200px" placeholder="内容" ng-model="Model.content"/>
          </div>
           <div class="form-group">
               <input type="text" class="form-control" style="width:240px" placeholder="请输入手机号" ng-model="Model.mobile"/>
           </div>
          <div class="form-group">
                <button class="btn btn-primary" ng-click="query()">查 询</button>
                <button class="btn btn-default" ng-click="reset()">重 置</button>
               <button class="btn btn-warning" ng-click="skip()">意见反馈详情</button>
         </div>
      </div>
   </div>-->

    <div class="dr-tb-header">
        <div class="col col-sm-3">意见反馈</div>
        <div class="col col-sm-9 input-group">
            <div class="form-inline pull-right">
                <div class="form-group">
                    <input type="text" class="form-control" style="width:280px" placeholder="请输入手机号" ng-model="Model.mobile"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="query()">查询</button>
                </div>
            </div>
        </div>
    </div>

   <!--<div class="list-group-item">-->
      <!--<div class="dr-tb-container">-->
         <!--<table model="setTableOptions" id="feedback" angular-table  class="table table-hover"></table>-->
      <!--</div>-->
      <div class="dr-tb-container">
         <div class="table-responsive">
            <table ng-table="tableParams" class="table sort-table table-striped text-muted table-striped">
               <thead>
               <tr style="letter-spacing: 1px">
                   <th tb-sort="id" style="width:15%;">意见编号</th>
                   <th style="width:10%;">用户名</th>
                   <th style="width:18%;">反馈内容</th>
                   <th style="width:10%;">手机号</th>
                   <th style="width:20%;">创建时间</th>
                   <th style="width:10%;">查看</th>
               </tr>
               </thead>
               <tbody>
                   <tr  class="editable-row" ng-repeat="item in Model.feedbacksList.result">
                        <td class="text-center">{{ item.id }}</td>
                        <td class="text-center">{{ item.name }}</td>
                        <td>{{ item.adviceContent | wordLimitFilter}}</td>
                        <td class="text-center">{{ item.mobile }}</td>
                        <td class="text-center">{{ item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td class="text-center"><button class="btn btn-warning" ng-click="skip(item.id)">意见反馈详情</button></td>
                   </tr>
               </tbody>
               <tfoot>
                  <tr>
                      <td colspan="6" class="text-center text-bg">
                         <div class="text-right" page-control record="Model.feedbacksList" evname="dr.feedbacksPagination"></div>
                      </td>
                  </tr>
               </tfoot>
            </table>
         </div>
      </div>

   <!--</div>-->
</div>