<div class="list-group dr-form" ng-controller="SearchCompactController" ng-init="init()">
    <div class="dr-tb-header">
        <div class="col col-sm-3">合同查询</div>
        <div class="col col-sm-9 input-group">
            <div class="form-inline pull-right">
                <div class="form-group">
                    <input type="text" class="form-control" style="width:300px" placeholder="请输入展示合同编号" ng-model="Model.contractSysNo" >
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="query()">查询</button>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group-item single-channel-body">
        <div class="dr-tb-container overflow-x-y" style="margin-top: 20px;" >
            <table class="table table-130 table-striped table-condensed">
                <thead>
                <tr>
                    <th style="width:7%;">系统合同编号</th>
                    <th style="width:7%;">展示合同编号</th>
                    <th style="width:7%;">进件号</th>
                    <th style="width:4%;">合同状态</th>
                    <th style="width:4%;">创建者</th>
                    <th style="width:6%;">创建时间</th>
                    <th style="width:4%;">更新者</th>
                    <th style="width:6%;">更新时间</th>
                    <th style="width:5%;"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="ng-scope" ng-repeat="item in Model.records.result">
                    <td>{{ item.contractSysNo }}</td>
                    <td>{{ item.contractDisplayNo }}</td>
                    <td>{{ item.qcAppCode }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.createUser }}</td>
                    <td>{{ item.createTime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td>{{ item.updateUser }}</td>
                    <td>{{ item.updateTime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-primary" ng-click="openRepayment(item.qcAppCode)">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>详细
                        </button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="text-right" page-control record="Model.records" evname="dr.userPagination"></div>
</div>
